body{
    /* background-color: red; */
}
*{
    padding: 0;
    margin: 0;
}

/* navbar abbas */

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr 6fr;
   align-items: center;
   min-height: 100px;
}
nav .link{
    display: flex;
    max-width: 320px;
    margin: auto;
    gap: 13px;
    align-items: center;
    cursor: pointer;
}
nav .link img{
    max-width: 100px;
}
nav .link p{
    font-family: "Roboto", sans-serif;

font-size: 14px;
font-weight: 400;
text-align: left;
color: #333333;
}
nav .link h6{
    font-family: "Roboto", sans-serif;

    font-size: 18px;
    font-weight: 700;
    line-height: 22.05px;
    text-align: left;
color: #333333;
    margin-bottom: 3px;
}
.link1{
    position: relative;
}
.link1 .image1{
    position: relative;
    top: -5px;
}
.link1 .image2{
    position: absolute;
    top: 3px;
    left: 12px;
    z-index: 12;
}
.link3{
    display: flex;
    align-items: center;justify-content: space-around;
}
.icon1{
    width: 46px;
height: 46px;
display: flex;justify-content: center;
align-items: center;
background: #22CD5E;
color: white;
cursor: pointer;
border-radius: 50%;
font-size: 23px;
}
.icon2{
    width: 46px;
height: 46px;
display: flex;justify-content: center;
align-items: center;
background: #229AD3;
color: white;
cursor: pointer;
border-radius: 50%;
font-size: 23px;
}
.icon3{
    width: 46px;
height: 46px;
cursor: pointer;
display: flex;justify-content: center;
align-items: center;
background: green;
color: white;
display: none;
border-radius: 50%;
font-size: 23px;
}
.all_icons{
display: flex;
align-items: center;
gap: 20px;
}
.cotact{
    display: flex;
    min-height: 100px;
    align-items: center;
    gap: 30px;
}
.cotact h4{
    font-family: "Roboto", sans-serif;

font-size: 22px;


}
.cotact p{
     font-family: "Roboto", sans-serif;

    font-size: 14px;
font-weight: 400;
}
.button_toggle{
    display: none;
    margin-right: 20px;
    
}
.menu_toggle{
    position: absolute;
    bottom: 100%;
}

.mini_tool{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    list-style: none;
   
    border-top: 1px solid rgb(225, 219, 219);

}
.mini_tool a{
text-decoration: none;
color: black;
}
.mini_tool li{ cursor: pointer;
    height: 50px;
    display: flex;
    font-family: "Roboto", sans-serif;

    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mini_tool li svg{
    position: relative;
    top: -5px;
}
.mini_tool li a{
   transform: transition(1s);
}
.mini_tool a:hover  svg path{
    fill: #2C8FDB;
}
.mini_tool a:hover {
    color: #2C8FDB;
}
@media(max-width:1200px){
    nav{
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 4fr 6fr;
       align-items: center;
       min-height: 100px;
    }
    .link1{
        display: none;
    }  
}
@media(max-width:991px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
       align-items: center;
       min-height: 100px;
    
       position: relative;
    }
    .link_none,.link3{
        display: none !important;
    }  
    .button_toggle{
        display:block;
        font-size: 23px;
        cursor: pointer;
    }
    .mini_tool li{
        display: flex; 
        justify-content: start;
        margin-left: 30px;
    }
    .menu_toggle .link3{
        display: block !important;
        margin-left: 30px;
    }
}
.menu_toggle{
    background-color: white;
    transition: .5s; 
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;
    width: 100%;
    z-index: 123 !important;
}
@media(max-width:991px){
    .link{
        display: flex;
        justify-content: start;
        margin-left: 2px !important;
        width: auto;
        margin-left: 20px !important;
        /* margin-left: 0px; */
    }
    .menu_toggle{
        display: block;
        background-color: white;
        height: 400px;
      
    }
    .mini_tool{
    display: none;}
    .menu_toggle .mini_tool{
        display: block;
    }
    .icon3{
        display: flex !important;
    } 
    .cotact{
        display: none;
    } 
}
@media(max-width:550px){
    .icon1, .icon2,.icon3{
        width:22px;
        height: 22px;
        font-size: 12px;
    }
    nav .link p{
        font-size: 10px !important;
        line-height: auto;
    }
    nav .link img{
        max-width: 60px;
    }
    .all_icons{
        gap: 10px;
    }
}



header{
    background: linear-gradient(256.3deg, #AED4F2 -15.74%, #F3F6F9 34.28%, #AED4F2 100%);
/* min-height: 900px; */
position: relative;
padding-bottom: 5%;
}
header .header_body{
    width: 90%;
    margin: auto;
}
.menu_header{
    position: absolute;
    right: 0px;
    /* height: 200px; */
    width: 80px;
    background: #2C8FDBCC;
    top: 200px;
padding: 10px 0px 0px 0px;
border-radius: 15px 0px 0px 15px;
text-align: center;
padding-left: 10px;
padding-right: 5px;
}

.menu_header p{
    word-wrap: wrap;
        font-family: "Roboto", sans-serif;

font-size: 16px;
font-weight: 400;
text-align: center;
color: white;
}
.menu_header_one{
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu_header_one img{
    height: 40px;
}
@media (max-width:991px){
    .menu_header p{
        font-size: 12px;
    }
    .menu_header_one img{
        height: 20px;
    }
   
}


.header_body{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}
.header_body .text h1{
/*      font-family: "Roboto", sans-serif;
 */
font-family: "Roboto", sans-serif;
font-size: 3.5vw;
/* font-weight: 750; */
text-align: left;
margin-bottom: 20px;
color: #4D4D4D;
}
.header_body .text h3{
    font-family: "Roboto", sans-serif;

color: #4D4D4D;
margin-bottom: 30px;
    font-size: 2.7vw;
    font-weight: 400;
    text-align: left; 
}
.header_body .text h3 span{
color: #2C8FDB;
font-weight: 700;
}

.header_card{
    position: relative;
}
.header_card .top{
    position: absolute;
    color: white;
    font-weight: 800;
top: -10px;
left: 30px;
 background: #FF0094;
border-radius: 10px 0px 10px 0px;  
width: 54px;
height: 26px;
display: flex;
justify-content: center;align-items: center;
}
.header_cards{
    display: flex;
    width: 90%;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
.header_card{
    display: flex;
    gap: 10px;
    width: 33%;
    max-width: 250px;
    align-items: center;
    min-width: 150px;
}
.header_card p{
        font-family: "Roboto", sans-serif;

font-size: 22px;
font-weight: 400;
text-align: left;
color: #333333;
}

.header_card img{
    height: 80px !important;
   
}
.header_body .img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header_body .img img{
width: 90%;
position: relative;
top: 100px;
left: -100px;
max-width:400px;
align-items: center;
margin: auto;
}
.header_body .player{
    position: absolute;
    bottom: 10%;
    left: -160px;
    width: 200px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    scale: 1.2;
    align-items: center;
}
.header_body .player .player_button{
    border-radius: 50%;
    transition: 1s;
    width: 60px;
    height: 60px;
    box-shadow:0px 0px 7px #FF9315;
    background: #FF9315;
    display: flex;
    cursor: pointer;
    justify-content: center;align-items: center;
    color: white;
    font-size: 23px;
} 
.header_body .player p{
    color: #333333;
    font-family: "Roboto", sans-serif;

    font-size: 15px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    
}
.header_body .player .player_button:hover{
    scale: 1.1;
}
.header_form{
    width: 70%;
    margin: auto;
    max-width: 750px;
    border: 3px solid #00000008;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
@media (max-width:500px) {
    .header_form{
        width: 90%;
        max-width: 750px;
        border: 3px solid #00000008;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }  
}
.send_message{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.header_form h4{
    /*      font-family: "Roboto", sans-serif;
 */
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
     max-width: 600px;
}
.header_body .form_chack{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}
.header_body .form_chack input{
padding: 3px;
}

.send_message input{
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    outline: none;
    background: #F2F2F2;
    padding-left: 20px;
    border-radius: 20px;
}
.form_chack{
    font-family: "Roboto", sans-serif;

}
.send_message button{
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    outline: none;
    box-shadow: 0px 20px 40px 0px #A1AFFF4D;
    background: #2C8FDB;
    border-radius: 20px;
color: white;
font-size: 15px;
     font-family: "Roboto", sans-serif;


}
@media (max-width: 1500px){
    .header_card img {
        height: 60px !important;
    }
    .header_card p{
        font-size: 16px;
    }
 
    .header_card .top {
        font-size: 13px;
        width: 30px;
        height: 20px;
    }
}
@media (min-width: 991px) and (max-width: 1200px){
    .header_card img {
        height: 50px;
    }
    .header_card p{
        font-size: 15px;
    }
  
    .header_card .top {
        font-size: 10px;
        width: 30px;
        height: 20px;
    }
}
@media(max-width:991px){
    .header_body{
        display: grid;
        grid-template-columns:  2fr;
    }
    .header_body .player{
        position: absolute;
        top: 40px;
        left: -10px;
        width: 200px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        align-items: center;
    }
    .header_cards{
        width: 100%;
    }
    .header_body .img{
        display: none;
    }
    .header_form{
        width: 90%;
    }

}
@media (max-width:740px){
    .header_form h4 {
        font-size: 20px;
        width: 80%;
    }
    .header_form h4  span{
        font-size: 20px;
    }
    .header_body .text h1 {
        font-size: 20px;
    }
    .header_body .text h3{
        font-size: 15px;
    }
}
@media (max-width:650px) {
    .send_message{
display: grid;
grid-template-columns: 1fr;
    }
    .header_form h4 {
        font-size: 20px;
        width: 100%;
    }
    header .header_body{
        width: 98%;
    }
    .header_card{
        width: 90%;
    }
}












/* section1 */
.section1{
    padding-top: 50px;
}
.section1 h2{
    font-family: "Roboto", sans-serif;

font-size: 3vw;
font-weight: 700;
text-align: center;
padding-bottom: 40px;
}
.section1 h2 span{
    font-weight: 400;
}

.section1 .section1_titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section1 .section1_titles h3{
    width: 40%;
    font-family: "Roboto", sans-serif;

font-size: 3vw;
font-weight: 400;
text-align: left;

}
.section1_cards{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.section1_card{
  display: grid;
    width: 45%;
   grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}
.section1_card img{
    width: 100%;
}
.section1_card p{
    font-family: "Roboto", sans-serif;

    font-size: 1vw;
}
@media(max-width:991px){
    .section1 h2{
        font-size: 20px;
    }
    .section1_cards{
        width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .section1_card p{
        font-size: 12px;
    }
        .section1 .section1_titles h3{
            width: 80%;
        text-align: center;
        }
        .section1 .section1_titles h3{
            font-size: 15px;
        } 
     
}
@media(max-width:500px){
    .section1_card {
        width: 95%;
        margin: 0px;
        max-width: 350px;
    } 
    .header_form {
        padding: 20px;
        width: 100%;
        border-radius: 0px;
        margin: auto;
    }
    .form_chack {
        font-size: 10px;
    }
    .send_message input{
        padding: 15px;
    }
    .send_message button  {
    padding: 15px;
    }
    .header_form h4 {
        font-size: 15px;
    }
    .header_form h4 span{
        font-size: 15px;
    }
 
   .menu_header p {
font-size: 8px;   
}
}








.section1 .body_section1{
    display: grid;
    grid-template-columns:auto 400px;
    min-height: 300px;
    align-items: stretch;
    width: 90%;
    margin: auto;
    gap: 30px;
    margin-bottom: 30px;
}
.section1 .select_dom{
    background: #FBFBFB;
    /* padding-top: 30px; */
    padding-bottom: 20px;

}

.section1  .progress{
width: 90%;
position: relative;
display: flex;
overflow: hidden;
border-radius: 10px;
margin-left: 3%;
margin-top: 20px;
box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.397);
background-color: white;
max-width: 900px;
}
.section1  .protsent{
    width: 20%;
    height: 30px;
    background:url("./image/div (1).png");
    background-size: cover;
}
.section1  .absolute_number{
    position: absolute;
    top: 5px;
     font-family: "Roboto", sans-serif;

font-size: 16px;
color: #1C1C1C;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.47999998927116394px;
text-align: left;

    left: 25%;
}
.section1  .body_section1 h2{
        font-family: "Roboto", sans-serif;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.440000057220459px;
    text-align: left;
    margin-left: 3%;
    color: #1C1C1C;
    margin-top: 20px;
    
}
.section1 .card_image{
background-color: #16BBFE;
overflow: hidden !important;
width: 100% !important; 
border-radius: 20px;
border-bottom-right-radius: 0px;
}
.section1 .card_image1{
    background-color: white;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    }
.section1 .card_image img{
  width: 100% !important;
  position: relative;
  top: 5px;
    }

    .section1 .card_image1 img{
        width: 100% !important;
        position: relative;
        top: 5px;
          }
      
.section1 .select_card{
    width: 100%;
}
.section1 .select_body_section1{
    display: grid;
    max-width: 900px;
 
    gap: 20px;
    margin-left: 3%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.section1 .select_check{
    width: 35px;
    height: 35px;
    border: 2px solid white;
    background-color: #FF9315;
    margin: auto;
    margin-top: -17px;
    position: relative;
    z-index: 234;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}
.section1 .select_check1{
    width: 35px;
    height: 35px;
    border: 2px solid white;
    background-color: grey;
    color: white;
    margin: auto;
    margin-top: -17px;
    position: relative;
    z-index: 234;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}
.section1 .select_title{
    text-align: center;
}
.body_section1 button{
    padding: 20px;
    margin-left: 10%;
    background: #2C8FDB;
    border-bottom: 5px solid #2C8FDB;
    box-shadow: 0px 20px 40px 0px #A1AFFF4D;

box-shadow: 0px 4px 4px 0px #FFFFFF40 inset;

box-shadow: 0px -9px 4px 0px #FFFFFF1A inset;
border: none;
width: 200px;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
     font-family: "Roboto", sans-serif;

border-radius: 15px;
color: white;
font-weight: 700;
}  
.section1 .reklama_dom{
    /* background-color: green; */
   background: url("./image/section/Group\ 38701.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
    justify-content: space-around;
}
.section1 .select_title{
    font-family: "Roboto", sans-serif;

}
.section1 .reklama_dom h4{
    width: 90%;

    /* margin: auto; */
        font-family: "Roboto", sans-serif;

    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.3199999928474426px;
    text-align: center;
}
@media(max-width:430px){
    .section1 .reklama_dom h4{
        width: 100%;
    
        /* margin: auto; */
            font-family: "Roboto", sans-serif;

        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.3199999928474426px;
        text-align: center;
    }
}
.section1 .media_anime{
    background: url('./image/Rectangle\ 705.jpg');
    background-size: cover;
    text-align: center;
    width: 80%;
    min-height: 200px;
    background-position: center;
    border-radius: 30px;
    display: flex;align-items: center;justify-content: center;
    flex-direction: column;
}
.section1 .aleksandr {
    width: 80%;
}
.section1 .aleksandr h5{
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;

font-size: 18px;
font-weight: 700;
letter-spacing: 0.7200000286102295px;
text-align: left;

}
.section1 .aleksandr p {
        font-family: "Roboto", sans-serif;

font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 1.2000000476837158px;
text-align: left;

}
.section1 .aleksandr p i{
    color: white;
    /* margin-right: 20px; */
    padding-right: 10px;
}
.section1 .media_anime .icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 3px #ff921591 ; 
    display: flex;
    font-size: 23px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #FFAF51 0%, #FF9315 100%);
transition: 1s;
}
.section1 .media_anime .icons:hover{
    scale: 1.2;
}
.section1 .media_anime {
    font-family: "Roboto", sans-serif;

cursor: pointer;
    color: white;
}
@media (max-width:991px){
    .section1 .body_section1 {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .section1 .body_section1 h2{
        font-size: 23px;
    }
    .section1 .body_section1 {
    width: 100%;
    }
    .section1 .select_body_section1 {
        width: 95%;
        margin: auto
        ;
    }
}
@media(max-width:500px){
    .section1 .body_section1 {
        width: 98%;
    }
    .body_section1 button {
    width: 100px;
    padding: 10px;
    font-size: 12px;
    } 
}











/* section2 */

.section2 h3{
width: 90%;
text-align: center;
margin: auto;
     font-family: "Roboto", sans-serif;

font-size: 3vw;
font-weight: 400;
text-align: center;

}
@media (max-width:470px) {
    
.section2 h3{
    width: 90%;
    text-align: center;
    margin: auto;
         font-family: "Roboto", sans-serif;
    
    font-size: 20px !important;
    font-weight: 400;
    text-align: center;
    
    }
}
@media (max-width:403px) {
    
    .section2 h3{
        width: 90%;
        text-align: center;
        margin: auto;
             font-family: "Roboto", sans-serif;
        
        font-size: 15px !important;
        font-weight: 400;
        text-align: center;
        
        }
    }
.section2 .mySwiper1{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
 :root {
    --swiper-navigation-size:30px !important;
}

.section2 .swiper-slide{
    height: 400px;
    width: 50% !important;
    /* background-color: red; */

}
.section2 .swiper-button-prev1, .section2 .swiper-button-next1{
    /* padding: 20px; */
    background: rgba(255, 255, 255, 0.37);
    width: 50px;
    height: 50px;
font-size: 23px !important;
backdrop-filter: blur(30px);
    border-radius: 50%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* padding-left: 20px; */
    /* opacity: 0.7; */
}
.section2 .swiper-button-next1{
    position: absolute;
    right: 20%;
    top: 180px;
    /* border: 2px solid #2C8FDB; */
    z-index: 12;
    color: #2C8FDB;
   
}
.section2 .swiper-button-prev1{
    position: absolute;
    left: 20%;
    top: 180px;
    z-index: 12;
    font-size: 33px;
    color: #2C8FDB;
    /* border: 2px solid #2C8FDB; */
}

.section2 .bx-chevron-right, .section2 .bx-chevron-left{
font-size: 30px;
}
.section2 .swiper-button-next:after, .section2 .swiper-button-prev:after{
width: 30px;
height: 30px;
}
@media(max-width:991px){
    .section2 h3{
        font-size: 23px;
    } 
    .section2 .swiper-slide{
        height: 300px;
        width: 50% !important;
        /* background-color: red; */
    
    }
    .section2 .swiper-button-next1{
        position: absolute;
        right: 20%;
        top: 120px;
        /* border: 2px solid #2C8FDB; */
        z-index: 12;
        color: #2C8FDB;
       
    }
    .section2 .swiper-button-prev1{
        position: absolute;
        left: 20%;
        top: 120px;
        z-index: 12;
        font-size: 33px;
        color: #2C8FDB;
        /* border: 2px solid #2C8FDB; */
    }
}

@media(max-width:769px){
 
    .section2 .swiper-slide{
        height: 300px;
        width:100% !important;
        /* background-color: red; */
    
    }
    .section2 .swiper-button-next1{
        position: absolute;
        right: 2%;
        top: 120px;
        /* border: 2px solid #2C8FDB; */
        z-index: 12;
        color: #2C8FDB;
       
    }
    .section2 .swiper-button-prev1{
        position: absolute;
        left: 2%;
        top: 120px;
        z-index: 12;
        font-size: 33px;
        color: #2C8FDB;
        /* border: 2px solid #2C8FDB; */
    }
}

@media(max-width:590px){
 
    .section2 .swiper-slide{
        height: 300px;
        width:100% !important;
        /* background-color: red; */
    
    }
    .section2 .swiper-button-next1{
        position: absolute;
        right: 2%;
        top: 120px;
        /* border: 2px solid #2C8FDB; */
        z-index: 12;
        color: #2C8FDB;
       
    }
    .section2 .swiper-button-prev1{
        position: absolute;
        left: 2%;
        top: 120px;
        z-index: 12;
        font-size: 33px;
        color: #2C8FDB;
        /* border: 2px solid #2C8FDB; */
    }
    .section3 h1{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px !important;
        text-align: center;
    
    }
}
@media (max-width:370px) {
    .section3 h1{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px !important;
        text-align: center;
    
    }
    .smart h3{
        font-size: 15px;
    }
}
.section3 h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;

}
.model{
    display: grid;
    width: 90%;
    gap: 30px;
    margin: auto;
    grid-template-columns: 300px auto;
}
.model{
    margin-top: 40px;
}
.softline{
    height: 750px;
    overflow: auto;
    margin-top: 10px;
}
.smart{
    display: flex;
    padding-left: 30px;
    padding-right: 10px;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    min-width: 100px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.smart:hover{
    background-color: #16BBFE;
}
.artline{
    background-color: white;
    /* padding-left: 40px; */
    padding-right: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.price{
    width: 100%;
    height: 400px;
    background-color: #F5FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-top: 90px;
}
.price img{
    width: 60%;
}
.circle{
    width: 60px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 270px;
    right: 80px;
    color: white;
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 50%;
}
.sale{
    position: absolute;
    left: 0px;
    top: 40px;
    width: 70px;
    font-family: "Roboto", sans-serif;
    padding: 1px;
    color: white;
    font-weight: 900;
    background-color: #FF0094;
}
.price_btn{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.product{
    width: 90%;
    margin-left: 30px;
    min-width: 300px;
}
.popular{
    width: 90%;
    margin-top: 30px;
    min-width: 300px;
    margin: auto;
}
.price_btn span{
    font-size: 20px;
    min-width: 300px;
    font-weight: 900;
}
.price_btn button{
    padding: 20px 30px;
    background-color: #2C8FDB;
    border: none;
    border-radius: 10px;
    color: white;
    min-width: 200px;
    font-weight: 900;
}
.popular1{
    display: flex;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    gap: 10px;
}
.popular1 h3{
    background-color: #333333;
    color: white;
}
.zashita{
    display: flex;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    justify-content: space-between;
}
.zashita h4{
    font-weight: 300;

}
.paket{
    width: 90%;
    height: 7px;
    background-color: rgba(128, 128, 128, 0.4);
    margin-top: 10px;
}
.oq{
    width: 50%;
    height: 7px;
    background-color: green;
}
.oq1{
    width: 50%;
    height: 7px;
    background-color: red;
}
.oq2{
    width: 50%;
    height: 7px;
    background-color: orange;
}
.profil2{
    align-items: center;
    gap: 20px;
    display: flex;
    margin-bottom: 10px;
}
.profil2 img{
    width: 20%;
}
.div_check{
    background-color:#2C8FDB;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20px;
    border-radius: 50%;
}
.plastik{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
}
.plastik h3{
    margin-bottom: 10px;
}
.veka{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.veka_big{
    background-color: #F5FAFF;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.temperatura{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;

}
@media(max-width:1055px){
    .artline{
        background-color: white;
        /* padding-left: 40px; */
        padding-right: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 20px;
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
       
}
@media(max-width:850px){
    .model{
        display: grid;
        width: 80%;
        gap: 30px;
        margin: auto;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
}
@media(max-width:700px){
    .model{
        display: grid;
        width: 95%;
        gap: 30px;
        margin: auto;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
}
@media(max-width:500px){
    .price{
        width: 100%;
        height: 300px;
        background-color: #F5FAFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        margin-top: 90px;
    }
    .price img{
        width: 50%;
    }
    .circle{
        width: 50px;
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: 200px;
        right: 80px;
        color: white;
        font-size: 10px;
        font-weight: 900;
        text-align: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        border-radius: 50%;
    }
    .artline{
        background-color: white;
        /* padding-left: 40px; */
        padding-right: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 0px;
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
}
@media (max-width:395px) {
    .popular1{
        display: flex;
        font-family: "Roboto", sans-serif;
        margin-top: 40px;
        justify-content: center;
        gap: 10px;
    }
    .popular1 h2{
        font-size: 16px;
    }
    .popular1 h3{
        background-color: #333333;
        color: white;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.section4 h1{
    font-family: 'Roboto',sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.mirror_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    gap: 30px;
    margin: auto;
    max-width: 1400px;
}
.type{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 30px;
    width: 90%;
    max-width: 350px;
    margin: auto;
}
.type img{
    width: 90%;
    margin: auto;
}
.type h3{
    text-align:center;
    margin-top: 20px;
}
.razmer{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.razmer_price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.razmer_price del{
    color: #FF0094;
}
.type button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #2C8FDB;
    color: white;
    font-weight: 900;
}

@media (max-width:1100px) {
    .mirror_card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
        gap: 30px;
        margin: auto;
        max-width: 1400px;
    }
}
@media (max-width:950px) {
    .mirror_card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 95%;
        gap: 30px;
        margin: auto;
        max-width: 1400px;
    }
}
@media (max-width:615px) {
    .mirror_card{
        display: grid;
        grid-template-columns: 1fr ;
        width: 75%;
        gap: 30px;
        margin: auto;
        max-width: 1400px;
    }
    .section4 h1{
        font-family: 'Roboto',sans-serif;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .artline {
    padding: 0px;
    }
    .product{
margin: 0px;
margin: auto;
    }
}

@media (max-width:430px) {
    .mirror_card{
        display: grid;
        grid-template-columns: 1fr ;
        width: 95%;
        gap: 30px;
        margin: auto;
        max-width: 1400px;
    }
    .section4 h1{
        font-family: 'Roboto',sans-serif;
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 40px;
    }
}






#title1{
    font-size: 2.7vw !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    line-height: 3vw;
    font-weight: 400;
}
#title2{
    line-height: 2.7vw;
    font-size: 2.5vw !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: 400;
}
@media(max-width:991px){
    #title1{
    font-weight: 400;
        font-size: 23px !important;
        line-height: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }
    #title2{
        font-size: 20px !important;
        line-height: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: 400;

    }
}
@media(max-width:491px){
    #title1{
    font-weight: 400;
        font-size: 20px !important;
        line-height: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    }
    #title2{
        font-size: 20px !important;
        line-height: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-weight: 400;

    }
}