*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}
footer{
    background-color: #0f2c45;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer .mirror{
    display: grid;
    align-items: start;
    grid-template-columns: 2.1fr 2fr 2fr 2fr;
    width: 95%;
    color: white;
    margin: auto;
    gap: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-bottom: 30px;
}
footer .logo{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
footer .logo p{
    font-weight: 100 !important;
}
footer .doc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .email{
    display: flex;
    gap: 20px;
    /* align-items: start; */
}

footer .title ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}
footer .title1 ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
footer .app{
    text-align: right;
}
footer .app p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .ul_li ul li{
    margin-top: 20px;
    list-style: none;
}
footer .app p{
    margin-bottom: 20px;
}
footer .app h4{
    color: white;
    font-size: 20px;
}
footer .app span{
    color: green;
    border-bottom:1px dashed green;
    text-decoration: none;
}
footer .app_1{
    margin-top: 30px;
    gap: 30px;
}

footer .phone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #22CD5E;
}
footer .telegram{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #229AD3;
}
footer .app_1{
    display: flex;
    align-items: end;
    justify-content: end;
}
@media(max-width:991px){
    footer .mirror{
        margin-bottom: 40px;
        display: grid;
        align-items: start;
        grid-template-columns:1fr 1fr;
        width: 95%;
        color: white;
        margin: auto;
        gap: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    footer  .app{
        text-align: left;
    }
    footer .app_1{
        display: flex;
        align-items: start;
        justify-content: start;
    }
}
@media(max-width:530px){
    footer .mirror{
        display: grid;
        align-items: start;
        grid-template-columns:1fr ;
        width: 95%;
        color: white;
        margin: auto;
        max-width: 1400px;
        gap: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    footer  .logo p{
        width: 40%;
    }
}
footer .sistema{
    display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
footer .lid_sistem{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
footer .sistema p{
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .sistema a{
    margin-left: 20px;
    color: green;
    border-bottom: 1px dashed green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    width: 70%;
}
@media(max-width:1100px){
    footer .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr 1fr ; 
    }
    footer .sistema a{
        width: 80%;
    }
}
@media(max-width:991px){
    footer  .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr ; 
    }
    footer .sistema a{
        width: 60%;
        margin-left: 0px;
    }
}

@media(max-width:530px){
    footer .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    text-align: center;
    align-items: start;
    grid-template-columns:1fr ; 
    }
    footer .sistema a{
        text-align: center;
        width: 50%;
        margin: auto;
    }
    footer  .lid_sistem{
        text-align: center;
    }
}
@media(max-width:393px){
    footer .lid_sistem{
        display: flex;
        flex-wrap: wrap;
    }
}


/* main-1 */
  .main-1{
    /* display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 5fr 4fr;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-bottom: 30px;
  }
  .main-1 .text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-1 .text h1{
    font-size: 55px;
    font-weight: 400;
}
.main-1 .ul-address{
    display: flex;
    gap: 10px;
}
.main-1 .address{
    margin-top: 20px;
}
.main-1 .ul-address ul li{
    margin-top: 10px;
    list-style: none;
    margin-bottom: 20px;
}
.main-1 .phone_address{
    display: flex;
    gap: 30px;
}
.main-1 .phone_address{
    margin-top: 10px;
}
.main-1 .add_phone{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF931540;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-1 .address img{
    width: 80%;
}
.main-1 .iframe1{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    
}
@media(max-width:1260px){
    .main-1 .text h1{
        font-size:50px ;
    }
}
@media(max-width:1215px){
    .main-1 .text h1{
        font-size: 48px;
    }
}
@media(max-width:1190px){
    .main-1 .text h1{
        font-size: 45px;
    }
}
@media(max-width:1152px){
    .main-1 .text h1{
        font-size: 40px;
    }
}
@media(max-width:1100px){
    .main-1 .text h1{
        font-size: 36px;
    }
    /* .iframe1{
        width: 500px;
    } */
}
@media(max-width:980px){
     .main-1{
        display: grid;
        grid-template-columns:1fr;
        width: 95%;
        margin: auto;
        max-width: 1400px;

    }
    .main-1 .text{
        margin-bottom: 30px;
    }
    .main-1 .iframe1 {
        height: 400px;
    }
}

@media(max-width:560px){
    .main-1 .iframe1{
        width: 100%;
        border-radius: 0px;
    }
}
@media (max-width:435px) {
    .main-1 .phone_address{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:410px){
    .main-1 .text h1{
        font-size: 30px;
    }
    .main-1 .iframe1{
        height: 300px;
    }
}
@media (max-width:340px){
    .main-1 .text h1{
        font-size: 25px;
    }
}
/* main-1 */

/* main-2 */
.main-2{
    background: url("../image/Group\ 38704\ \(1\).png") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.main-2 h1{
    font-weight: 300;
    width: 85%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .acc_woman{
    display: grid;
    grid-template-columns: 4fr 5fr;
    width: 85%;
    margin: auto;
    max-width: 1400px;
    /* margin-bottom: 30px; */
    align-items: end;
    margin-top: 50px;

}
.main-2 .woman{
    display: flex;
    justify-content: center;
    align-items: end;
}
.main-2 .woman img{
    width: 70%;
}
.main-2 .acc{
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.main-2 .plus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
@media(max-width:1200px){
    .main-2 .acc_woman{
        display: grid;
        grid-template-columns: 3fr 4fr;
        width: 85%;
        margin: auto;
        max-width: 1400px;
        margin-bottom: 30px;
        align-items: end;
        margin-top: 50px;
    
    }
}
@media(max-width:991px){
    .main-2 .acc_woman{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
        max-width: 1400px;
        margin-bottom: 30px;
        align-items: end;
        margin-top: 50px;
    
    }
    .main-2 .woman{
        width: 40%;
        margin: auto;
    }
    .main-2 .woman img{
        width: 100%;
        margin: auto;
    }
    .main-2  .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 18px;
        padding-right: 20px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
@media(max-width:497px){
    .main-2 h1{
        font-size:27px;
    }
}
@media(max-width:440px){
    .main-2 .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 14px;
        padding-right: 20px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
@media(max-width:349px){
    .main-2 .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 12px;
        padding-right: 10px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
.main-2 .answer{
    width: 80%;
    margin: auto;
    background-color: #2C8FDB;
    /* min-height: 300px; */
    border-radius: 30px;
    display: grid;
    align-items: start;
    grid-template-columns: 4fr 6fr;
    color: white;
    margin-bottom: 40px;
}
.main-2 .answer_text h1{
    margin-bottom: 10px;
}
.main-2 .answer_input h2{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .input{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.main-2 .input input{
    width: 35%;
    height: 60px;
    border-radius:10px;
    border: none;
    min-width: 210px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.main-2 .input button{
    width: 35%;
    height: 60px;
    border-radius:10px;
    border: 1px solid orange;
    outline: none;

    color: white;
    min-width: 210px;
    background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);

}
.main-2 .check{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .check input{
    width: 20px;
    height: 20px;
}
@media(max-width:1210px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 4fr 5fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:1100px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 3fr 4fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:1000px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 2fr 3fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:900px){
    .main-2 .answer{
        width: 100%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 0px;
        display: grid;
        /* align-items: start; */
        grid-template-columns: 1fr;
        color: white;
        margin-bottom: 40px;
    }
    .main-2 .answer_input{
        width: 85%;
        margin: auto;
    }
}
@media(max-width:524px){
    .main-2 .input{
        display: flex;
        flex-wrap: wrap;
    }
    .main-3 .play h1{
        width: 100%;
        font-weight: 300 !important;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .main-2 .input input{
        width: 95%;
        height: 60px;
        border-radius:10px;
        border: none;
        min-width: 210px;
        padding-right: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        outline: none;

    }
    .main-2 .input button{
        padding-left: 10px;
        width: 100%;
        height: 60px;
        border-radius:10px;
        border: none;
  
        outline: none;
        color: white;
        min-width: 210px;
        background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);
    
    }
}
@media(max-width:514px){
    .main-2 .input input{
        width: 95%;
        height: 60px;
        border-radius:10px;
        border: none;
        min-width: 210px;
        padding-right: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        outline: none;

    }
    .main-2 .input button{
        padding-left: 10px;
        width: 100%;
        height: 60px;
        border-radius:10px;
        border: none;
  
        outline: none;
        color: white;
        min-width: 210px;
        background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);
    
    }
}

@media(max-width:372px){
    .main-2 .answer_input h2{
        font-size: 20px;
    }
}
/* main-2 */


/* main-3 */
.main-3{
    background: url("../image/Rectangle\ 1698.png") no-repeat;
    width: 100%;
    border-radius: 40px;
    /* min-height: 500px; */
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-size: cover;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
   
    background-position: center;
}
.main-3 .body{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    /* gap: 40px; */
    align-items: center;
    position: relative;
    gap: 10%;
}
.main-3 .play{
    width: 100%;
    max-width: 550px;
}
.main-3 .play h1{
    width: 80%;
    font-weight: 300 !important;
    font-size: 40px;
    margin-bottom: 30px;
}
.main-3 .text1 p{
    width: 100%;
    margin-top: 10px;
    line-height: 25px;
}
.main-3 .play_circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    font-size: 30px;
    box-shadow: orange 0px 0px 12px;
}
.main-3 .play1{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: -50px;
}
.main-3 .img_text{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
    min-width: 300px;
}

.main-3 .image{
    position: relative;

}
.main-3 .text1{
    text-align: justify;
}
.main-3 .check1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: -5px; */
    right: 0px;
    /* right: 460px; */
    background-color: #F46600;
}
@media (max-width:1010px) {
    .main-3 .play1{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: -10px;
    }
}
@media (max-width:550px) {
    .main-3  .play1{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: -10px;
    }
    .main-3 .play h1{
        width: 90%;
        font-weight: 300 !important;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main-3 .play_circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: orange;
        font-size: 30px;
        box-shadow: orange 0px 0px 12px;
    }
}

@media(max-width:500px){
    .main-3{
        border-radius: 0px;
    }
    .main-3 .play h1{
        font-size: 23px;
    }
    .main-3 .img_text{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        min-width: 300px;
    }
    .main-3 .image{
        margin:auto;
    }
   
}
/* main-3 */



/* main-5 */
/* .navbar{
    width: 100%;
    margin: auto;
} */
.nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;   
    /* align-items: stretch;     */
    margin-top: 2%;
    gap: 6px;
    flex-wrap: wrap;   
}
.tepa {
    width: 24%;
    min-width: 300px;
}
.card_1 img{
    width: 100%;
    min-width: 300px;
}
.card_1{
   /* letter-spacing: 0.1px; */
   margin-top: -10%;
   /* width: 25%; */
   margin-bottom: 30px;
   width: 100%;
   min-width: 300px;
}
.navbar12 h1{
    font-family: 'Franklin Gothic Medium';
font-size: 3vw;
text-align: center;
margin-top: 40px;
font-weight: 50;
}
.card_1 p{
    /* color: #00000075; */
margin-top: 10px;
min-width: 210px;
/* line-height: 22.05px; */

font-family: 'Franklin Gothic Medium';

}
.card_1 h2{
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium';
    
}
.aylana{
    width: 66px;
    height: 66px;
    border-radius: 50px;
    position: relative;
    z-index: 3248;
    background: #FF9315;
    margin: auto;
}
.aylana img{
    margin-top: 11px;
}
@media(max-width:600px){
    .card_1 h2{
        font-size: 17px;
    }
    .card_1 p{
        font-size: 15px;
    }
}
@media(max-width:500px){
    .navbar12 h1{
        font-family: 'Franklin Gothic Medium';
    font-size: 4vw;
    text-align: center;
    font-weight: 50;
    }
}
/* main-5 */

/* main-7 */




.top_zakaz{
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.top_zakaz .card_swio{
 width: 100%;
 max-width: 400px;
}
.top_zakaz .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    margin-top: 5px;
}
.top_zakaz .images img{
    width: 100%;
    height: 100%;
}
.top_zakaz .card_swio .img {
    position: relative;
overflow: hidden !important; 
border-radius: 20px;
}
.top_zakaz .card_swio .img:hover .lupa  {
  display: flex;

}
.top_zakaz .card_swio .img img{
    width: 100%;
}
.top_zakaz .card_swio p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
font-weight: 400;
text-align: left;

}
.top_zakaz .card_swio .iamge1:hover .lupa  {
    display: flex;
  
  }
  .top_zakaz .iamge1{
    position: relative;
    overflow: hidden !important; 
    border-radius: 20px;
}
.top_zakaz .lupa{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    top: 0px;
    display: flex;justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    left: 0px;
    display: none;
}
.top_zakaz swiper-container {
    width: 100%;
    height: 100%;
  }

  .top_zakaz swiper-slide {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top_zakaz  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* main-7 */
  /* main-6 */
  .main-6{
    background: url("../image/4L0A1040\ 1.png") no-repeat;
    width: 100%;
    background-size: 100% 100%;
    min-height: 600px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
  }
  .main-6 .ellipse1{
    position: absolute;
    top: 20px;

  }
  .main-6 .ellipse{
    width: 30%;
    position: absolute;
    bottom: 0px;
  }
  .project{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom-left-radius: 30px;
  }
  .byudjet{
    max-width: 900px;
    margin-left: 40px;

  }
  .byudjet h1{
    font-size: 3vw;
    font-weight: 400;
  }
  .free1{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
  }
  .master{
    display: flex;
    gap: 20px;
    align-items: center;
    /* margin-bottom: 30px; */
    margin-top: 40px;
    position: relative;
    z-index: 2123;
  }
  .master img{
    width: 20%;
  }
  @media(max-width:800px){
    .free1{
        display: grid;
        background-color: rgba(255, 255, 255, 0.241);
        grid-template-columns: 0.5fr 0.5fr ;
      }
      .byudjet{
        max-width: 900px;
        margin-left: 10px;
        
    
      }
      .byudjet h1{
        font-size: 3vw;
        font-weight: 400;
        margin-top: 40px;
      }

  }
  @media(max-width:600px){
    .free1{
        display: grid;
        background-color: rgba(255, 255, 255, 0.241);
        grid-template-columns: 1fr ;
      }
      .byudjet{
        max-width: 900px;
        margin-left: 10px;
        
    
      }
      .byudjet h1{
        font-size: 3vw;
        font-weight: 400;
        margin-top: 40px;
      }

  }
  @media(max-width:360px){
    .master{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
        gap: 20px;
        align-items: center;
        /* margin-bottom: 30px; */
        margin-top: 40px;
        position: relative;
        z-index: 2123;
      }

  }
  .input_btn{
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: relative;
    z-index: 2323;
  }
  .text_inp{
display: flex;

  }
  .text_inp input{
    width: 50%;
  }
  /* main-6 */



/* main-8 */
/* .main-8{
    background: url("../image/Group\ 38702.png") no-repeat;
    width: 40%;
    background-size: cover;
    height: 500px;
} */

/* main-8 */


