*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}
footer{
    background-color: #0f2c45;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer .mirror{
    display: grid;
    align-items: start;
    grid-template-columns: 2.1fr 2fr 2fr 2fr;
    width: 95%;
    color: white;
    margin: auto;
    gap: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-bottom: 30px;
}
footer .logo{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
footer .logo p{
    font-weight: 100 !important;
}
footer .doc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .email{
    display: flex;
    gap: 20px;
    /* align-items: start; */
}

footer .title ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}
footer .title1 ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
footer .app{
    text-align: right;
}
footer .app p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .ul_li ul li{
    margin-top: 20px;
    list-style: none;
}
footer .app p{
    margin-bottom: 20px;
}
footer .app h4{
    color: white;
    font-size: 20px;
}
footer .app span{
    color: green;
    border-bottom:1px dashed green;
    text-decoration: none;
}
footer .app_1{
    margin-top: 30px;
    gap: 30px;
}

footer .phone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #22CD5E;
}
footer .telegram{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #229AD3;
}
footer .app_1{
    display: flex;
    align-items: end;
    justify-content: end;
}
@media(max-width:991px){
    footer .mirror{
        margin-bottom: 40px;
        display: grid;
        align-items: start;
        grid-template-columns:1fr 1fr;
        width: 95%;
        color: white;
        margin: auto;
        gap: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    footer  .app{
        text-align: left;
    }
    footer .app_1{
        display: flex;
        align-items: start;
        justify-content: start;
    }
}
@media(max-width:530px){
    footer .mirror{
        display: grid;
        align-items: start;
        grid-template-columns:1fr ;
        width: 95%;
        color: white;
        margin: auto;
        max-width: 1400px;
        gap: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    footer  .logo p{
        width: 40%;
    }
}
footer .sistema{
    display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
footer .lid_sistem{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
footer .sistema p{
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .sistema a{
    margin-left: 20px;
    color: green;
    border-bottom: 1px dashed green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    width: 70%;
}
@media(max-width:1100px){
    footer .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr 1fr ; 
    }
    footer .sistema a{
        width: 80%;
    }
}
@media(max-width:991px){
    footer  .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    align-items: start;
    grid-template-columns:1fr 1fr ; 
    }
    footer .sistema a{
        width: 60%;
        margin-left: 0px;
    }
}

@media(max-width:530px){
    footer .sistema{
        display: grid;
    color: white;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-top: 40px;
    gap: 30px;
    text-align: center;
    align-items: start;
    grid-template-columns:1fr ; 
    }
    footer .sistema a{
        text-align: center;
        width: 50%;
        margin: auto;
    }
    footer  .lid_sistem{
        text-align: center;
    }
}
@media(max-width:393px){
    footer .lid_sistem{
        display: flex;
        flex-wrap: wrap;
    }
}


/* main-1 */
  .main-1{
    /* display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 5fr 4fr;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    margin-bottom: 30px;
  }
  .main-1 .text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-1 .text h1{
    font-size: 55px;
    font-weight: 400;
}
.main-1 .ul-address{
    display: flex;
    gap: 10px;
}
.main-1 .address{
    margin-top: 20px;
}
.main-1 .ul-address ul li{
    margin-top: 10px;
    list-style: none;
    margin-bottom: 20px;
}
.main-1 .phone_address{
    display: flex;
    gap: 30px;
}
.main-1 .phone_address{
    margin-top: 10px;
}
.main-1 .add_phone{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF931540;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-1 .address img{
    width: 80%;
}
.main-1 .iframe1{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    
}
@media(max-width:1260px){
    .main-1 .text h1{
        font-size:50px ;
    }
}
@media(max-width:1215px){
    .main-1 .text h1{
        font-size: 48px;
    }
}
@media(max-width:1190px){
    .main-1 .text h1{
        font-size: 45px;
    }
}
@media(max-width:1152px){
    .main-1 .text h1{
        font-size: 40px;
    }
}
@media(max-width:1100px){
    .main-1 .text h1{
        font-size: 36px;
    }
    /* .iframe1{
        width: 500px;
    } */
}
@media(max-width:980px){
     .main-1{
        display: grid;
        grid-template-columns:1fr;
        width: 95%;
        margin: auto;
        max-width: 1400px;

    }
    .main-1 .text{
        margin-bottom: 30px;
    }
    .main-1 .iframe1 {
        height: 400px;
    }
}

@media(max-width:560px){
    .main-1 .iframe1{
        width: 100%;
        border-radius: 0px;
    }
}
@media (max-width:435px) {
    .main-1 .phone_address{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:410px){
    .main-1 .text h1{
        font-size: 30px;
    }
    .main-1 .iframe1{
        height: 300px;
    }
}
@media (max-width:340px){
    .main-1 .text h1{
        font-size: 25px;
    }
}
/* main-1 */

/* main-2 */
.main-2{
    background: url("../image/Group\ 38704\ \(1\).png") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.main-2 h1{
    font-weight: 300;
    width: 85%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .acc_woman{
    display: grid;
    grid-template-columns: 4fr 5fr;
    width: 85%;
    margin: auto;
    max-width: 1400px;
    /* margin-bottom: 30px; */
    align-items: end;
    margin-top: 50px;

}
.main-2 .woman{
    display: flex;
    justify-content: center;
    align-items: end;
}
.main-2 .woman img{
    width: 70%;
}
.main-2 .acc{
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.main-2 .plus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
@media(max-width:1200px){
    .main-2 .acc_woman{
        display: grid;
        grid-template-columns: 3fr 4fr;
        width: 85%;
        margin: auto;
        max-width: 1400px;
        margin-bottom: 30px;
        align-items: end;
        margin-top: 50px;
    
    }
}
@media(max-width:991px){
    .main-2 .acc_woman{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
        max-width: 1400px;
        margin-bottom: 30px;
        align-items: end;
        margin-top: 50px;
    
    }
    .main-2 .woman{
        width: 40%;
        margin: auto;
    }
    .main-2 .woman img{
        width: 100%;
        margin: auto;
    }
    .main-2  .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 18px;
        padding-right: 20px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
@media(max-width:497px){
    .main-2 h1{
        font-size:27px;
    }
}
@media(max-width:440px){
    .main-2 .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 14px;
        padding-right: 20px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
@media(max-width:349px){
    .main-2 .acc{
        align-items: center;
        padding-left: 20px;
        font-size: 12px;
        padding-right: 10px;
        border-radius: 10px;
        background-color: white;
        width: 90%;
        margin: auto;
        min-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
}
.main-2 .answer{
    width: 80%;
    margin: auto;
    background-color: #2C8FDB;
    /* min-height: 300px; */
    border-radius: 30px;
    display: grid;
    align-items: start;
    grid-template-columns: 4fr 6fr;
    color: white;
    margin-bottom: 40px;
}
.main-2 .answer_text h1{
    margin-bottom: 10px;
}
.main-2 .answer_input h2{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .input{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.main-2 .input input{
    width: 35%;
    height: 60px;
    border-radius:10px;
    border: none;
    min-width: 210px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.main-2 .input button{
    width: 35%;
    height: 60px;
    border-radius:10px;
    border: 1px solid orange;
    outline: none;

    color: white;
    min-width: 210px;
    background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);

}
.main-2 .check{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-2 .check input{
    width: 20px;
    height: 20px;
}
@media(max-width:1210px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 4fr 5fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:1100px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 3fr 4fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:1000px){
    .main-2 .answer{
        width: 90%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 30px;
        display: grid;
        align-items: start;
        grid-template-columns: 2fr 3fr;
        color: white;
        margin-bottom: 40px;
    }
}
@media(max-width:900px){
    .main-2 .answer{
        width: 100%;
        margin: auto;
        background-color: #2C8FDB;
        /* min-height: 300px; */
        border-radius: 0px;
        display: grid;
        /* align-items: start; */
        grid-template-columns: 1fr;
        color: white;
        margin-bottom: 40px;
    }
    .main-2 .answer_input{
        width: 85%;
        margin: auto;
    }
}
@media(max-width:524px){
    .main-2 .input{
        display: flex;
        flex-wrap: wrap;
    }
    .main-3 .play h1{
        width: 100%;
        font-weight: 300 !important;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .main-2 .input input{
        width: 95%;
        height: 60px;
        border-radius:10px;
        border: none;
        min-width: 210px;
        padding-right: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        outline: none;

    }
    .main-2 .input button{
        padding-left: 10px;
        width: 100%;
        height: 60px;
        border-radius:10px;
        border: none;
  
        outline: none;
        color: white;
        min-width: 210px;
        background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);
    
    }
}
@media(max-width:514px){
    .main-2 .input input{
        width: 95%;
        height: 60px;
        border-radius:10px;
        border: none;
        min-width: 210px;
        padding-right: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        outline: none;

    }
    .main-2 .input button{
        padding-left: 10px;
        width: 100%;
        height: 60px;
        border-radius:10px;
        border: none;
  
        outline: none;
        color: white;
        min-width: 210px;
        background: linear-gradient(180deg, #FF9315 0%, #F46600 100%);
    
    }
}

@media(max-width:372px){
    .main-2 .answer_input h2{
        font-size: 20px;
    }
}
/* main-2 */


/* main-3 */
.main-3{
    background: url("../image/Rectangle\ 1698.png") no-repeat;
    width: 100%;
    border-radius: 40px;
    /* min-height: 500px; */
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-size: cover;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
   
    background-position: center;
}
.main-3 .body{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    /* gap: 40px; */
    align-items: center;
    position: relative;
    gap: 10%;
}
.main-3 .play{
    width: 100%;
    max-width: 550px;
}
.main-3 .play h1{
    width: 80%;
    font-weight: 300 !important;
    font-size: 40px;
    margin-bottom: 30px;
}
.main-3 .text1 p{
    width: 100%;
    margin-top: 10px;
    line-height: 25px;
}
.main-3 .play_circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    font-size: 30px;
    box-shadow: orange 0px 0px 12px;
}
.main-3 .play1{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: -50px;
}
.main-3 .img_text{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
    min-width: 300px;
}

.main-3 .image{
    position: relative;

}
.main-3 .text1{
    text-align: justify;
}
.main-3 .check1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: -5px; */
    right: 0px;
    /* right: 460px; */
    background-color: #F46600;
}
@media (max-width:1010px) {
    .main-3 .play1{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: -10px;
    }
}
@media (max-width:550px) {
    .main-3  .play1{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: -10px;
    }
    .main-3 .play h1{
        width: 90%;
        font-weight: 300 !important;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main-3 .play_circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: orange;
        font-size: 30px;
        box-shadow: orange 0px 0px 12px;
    }
}

@media(max-width:500px){
    .main-3{
        border-radius: 0px;
    }
    .main-3 .play h1{
        font-size: 23px;
    }
    .main-3 .img_text{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        min-width: 300px;
    }
    .main-3 .image{
        margin:auto;
    }
   
}
/* main-3 */

 /* main-4  */

 .main-4 {
    width: 90%;
    margin: auto;
  position: relative;
  max-width: 1400px;
  margin-bottom: 50px;
}
.main-4 h3{
    width: 90%;
   
    text-align: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    max-width: 1200px;
 margin-top: 30px;
    margin-bottom: 30px;
    }

.main-4 .card img{
width: 100%;
}
.main-4 .swiper-button-next2{
position: absolute;
top: 50%;
z-index: 2;
right: -35px;
width: 70px;
height: 70px;
background-color: rgba(255, 255, 255, 0.363);
backdrop-filter: blur(30px);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.main-4 .card{
    max-width: 450px;
    margin: auto;
}
.main-4 .bx-chevron-left, .main-4 .bx-chevron-right{
font-size: 40px;
color: #16BBFE;
}
.main-4 .swiper-button-prev2{
    position: absolute;
    top: 50%;
    z-index: 2;
    left: -35px;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.main-4 .card_img{
    position: relative;
}
.main-4 .card_img .player{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 70px;
    height:70px;
    border-radius: 50%;
    background-color: #FF9315;
    box-shadow:  0px 0px 1px 3px #ff921549;
    color: white;
    display: flex;
    transition: 1s;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.main-4 .card_img .player:hover{
    scale: 1.1;
}
.main-4 .card h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.3px;
    text-align: left;
    margin-top: 20px;
}

.main-4 .card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
margin-top: 2px;
font-weight: 400;
line-height: 22.05px;
text-align: left;

}
    @media (max-width:991px){
        .main-4 h3{
            font-size: 23px;
        }
        .main-4 .swiper-button-prev2{
            left: -25px;
            width: 50px;
            height: 50px;
        }
        .main-4 .swiper-button-next2{
            right: -25px;
            width: 50px;
            height: 50px; 
        }
        .main-4 .card_img .player{
            width: 50px;
            height: 50px;
        }
    }

/* main-5 */
.main-5 h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
}
.main-5 .documents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    max-width: 1400px;
    gap: 30px;
    margin:auto;
}
.main-5 .back_img{
    background: url("../image/Rectangle\ 1703.png")no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 250px;
    background-position: center;
    min-width: 210px;
}
.main-5 .back_img1{
    background: url("../image/Rectangle\ 1773.png")no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    min-width: 210px;
}
.main-5 .back_img2{
    background: url("../image/Rectangle\ 1774.png")no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 250px;
    background-position: center;
    min-width: 210px;
}
.main-5 .back_img3{
    background: url("../image/Rectangle\ 1775.png")no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 250px;
    background-position: center;
    min-width: 210px;
}
.main-5 .quality{
    position: relative;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.main-5 .quality h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-5 .quality p{
    font-weight: 300;
}
.main-5 .png{
    position: absolute;
    top: -20px;
    width: 20%;
    left: 140px;
    z-index: 3242;
}
@media (max-width:1100px) {
    .main-5 .documents{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 90%;
        max-width: 1400px;
        gap: 30px;
        margin:auto;
    }
    .main-5 .png{
        position: absolute;
        top: -20px;
        width: 15%;
        left: 190px;
        z-index: 3242;
    }
    .main-5 .quality{
        position: relative;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
        font-family: "Roboto", sans-serif;
    }
    
}
@media (max-width:660px) {
    .main-5 .documents{
        display: grid;
        grid-template-columns: 1fr  ;
        width: 70%;
        margin:auto;

        max-width: 1400px;
        gap: 30px;
    }
    .main-5 .png{
        position: absolute;
        top: -20px;
        width: 15%;
        left: 190px;
        z-index: 3242;
    }
    .main-5 .back_img{
        background: url("../image/Rectangle\ 1703.png")no-repeat;
        width: 100%;
        border-radius: 30px;
        background-size: cover;
        min-height: 300px;
        background-position: center;
        min-width: 210px;
    }
    .main-5 .back_img1{
        background: url("../image/Rectangle\ 1773.png")no-repeat;
        width: 100%;
        background-position: center;
        background-size: cover;
        min-height: 250px;
        min-width: 210px;
        border-radius: 30px;
        min-height: 300px;
    }
    .main-5 .back_img2{
        background: url("../image/Rectangle\ 1774.png")no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 250px;
        background-position: center;
        min-width: 210px;
        border-radius: 30px;
        min-height: 300px;
    }
    .main-5 .back_img3{
        background: url("../image/Rectangle\ 1775.png")no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 250px;
        background-position: center;
        min-width: 210px;
        border-radius: 30px;
        min-height: 300px;
    }
}

@media (max-width:460px) {
    .main-5 .documents{
        display: grid;
        grid-template-columns: 1fr  ;
        width: 70%;
        margin:auto;

        max-width: 1400px;
        gap: 30px;
    }
    .main-5 .png{
        position: absolute;
        top: -20px;
        width: 15%;
        left: 190px;
        z-index: 3242;
    }
    .main-5 .back_img{
        background: url("../image/Rectangle\ 1703.png")no-repeat;
        width: 100%;
        border-radius: 30px;
        background-size: cover;
        min-height: 200px;
        background-position: center;
        min-width: 210px;
    }
    .main-5 .back_img1{
        background: url("../image/Rectangle\ 1773.png")no-repeat;
        width: 100%;
        background-position: center;
        background-size: cover;
        min-height: 200px;
        min-width: 210px;
        border-radius: 30px;
    }
    .main-5 .back_img2{
        background: url("../image/Rectangle\ 1774.png")no-repeat;
        width: 100%;
        background-size: cover;
        min-height: 200px;
        background-position: center;
        min-width: 210px;
        border-radius: 30px;
    }
    .main-5 .back_img3{
        background: url("../image/Rectangle\ 1775.png")no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        min-width: 210px;
        border-radius: 30px;
        min-height: 200px;
    }
}
@media (max-width:400px) {
    .main-5 .png{
        position: absolute;
        top: -10px;
        width: 20%;
        left: 100px;
        z-index: 3242;
    }
    .main-5 .quality h3{
        font-size: 14px;
    }
    .main-5 .quality p{
        font-size: 12px;
    }
}
/* main-5 */



/* main-6 */
.main-6{
    background: url("../image/4L0A1040\ 1.png") no-repeat;
    width: 100%;
    min-height: 800px;
    background-size: cover;
    position: relative;
    /* background-position:center ; */
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 30px;
}
.main-6 .ellipse{
    position: absolute;
    bottom: 0px;

}
.main-6 .project{
    position: absolute;
    bottom: 0px;
}
.main-6 .ellipse2{
    position: absolute;
    top:100px;
    left: 0px;
}
.main-6 .master{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    text-align: justify;

}
.main-6 .masters{
    /* z-index: 12312;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 40px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    
}
.main-6 .byudjet{
    width: 90%;
    margin: auto;
    max-width: 1400px;
}
.main-6 .budjet_text h1{
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;

}
/* main-6 */